<launch>

<!-- 
     This file launches a node that publishes images from GMSL cameras on a DrivePX2 to rostopics 
     Once running, each camera group has a node running under /camera/<groupidx>.
     For each camera group, the cameras are published under /camera/<groupidx>/<cameraidx> starting
     with  port 0, 1, 2, 3. Note that a camera's images will be published under the next available topic
     number even if not all four cameras are attached to a group. Likewise, if a camera group is skipped
     that camera's group number will be used for the next topic
-->

	<!--remap from="/camera/0/0/image_raw" to="/camera/0/0/image_color"/-->

	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

	<include file="$(find gmsl_n_cameras)/launch/gmsl_n_cameras.launch">
	  <arg name="selector-mask" value="00010000"/>
	</include>

	<include file="$(find camera_info)/launch/camera_info.launch"/>

</launch>
